@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,700');


body {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #505962;
  overflow-x: hidden;
}



.nav {
      width: 100%;
      height: 80px;
      position: fixed;
      z-index: 2;
}

.nav.scrolled {
      background-color: #161616 !important;
      transition: background-color 500ms linear;
}

.nav #brand {
      float: left;
      display: block;
      margin-left: 40px;
      line-height: 80px;
      font-weight: bold;
      font-size: 18px;
}

.nav #brand a {
      color: #fff;
      font-family: Poppins !important;
      transition: all 500ms ease-out;
}

.nav #brand a:hover {
      text-decoration: none;
}

.nav #menu {
      float: left;
      right: 40px;
      position: fixed;
}

.nav #menu li {
      padding-left: 40px;
      display: inline-block;
      font-weight: lighter !important;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 80px;
      position: relative;
      transition: all 500ms ease-out;
}

.nav #menu li a {
      font-family: Poppins !important;
      color: rgb(156, 156, 156);
      transition: all 500ms ease-out;
}

.nav #menu li a:hover {
      text-decoration: none;
      color: #fff;
      transition: all 500ms ease-out;
}
.scroll-to{
  text-align: center;
}

.main-content{
  height: 100vh;
}

.flex-container{
  display: flex;
  align-items: center;
  padding-top: 3%

}

.blogHead{
  text-align: center;
}

.posts{
  width: 70%;
  margin: 0px auto;
  border-bottom: 2px solid #e3e3e3;
}

.carousel {
  transition: all 90s;
  position: relative;
  text-align: center;
  color: #405d27;
  width: 100%;
  height: 35%;
  max-height: 50vh;
  overflow: hidden;
  max-width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('img/blog.jpg');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;

}
.carousel:hover{
  transform: scale(1.5);
}







.heading{
  text-align: center;
  padding-top: 2%;
  padding-bottom: 1%;
}

h3{
  padding-top: 5px;
}

.centered {
  font-size: 35px;
  color: #fff;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}




.name{
  padding-left: 2%
}

.post{
  padding-top: 1%;
  padding-left: 8%
}